<section id="status-container" class="wrapper">
  <h2 class="title-center">Estatística de Comida</h2>
  <p class="p-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat dignissimos voluptatibus illo odio itaque exercitationem reiciendis accusantium corrupti facere nostrum tempora, voluptatem dolore
    vitae architecto quidem officia nulla ex!
  </p>

  <div>
  <div class="status-box">
    <span class="status-qtd">+300</span>
   <p class="status-text">AFRICA</p>
  </div>

   <div class="status-box">
    <span class="status-qtd">+200</span>
    <p class="status-text">EUROPA</p>
  </div>

   <div class="status-box">
    <span class="status-qtd">+150</span>
    <p class="status-text">ASIA</p>
  </div>

   <div class="status-box">
    <span class="status-qtd">+100</span>
    <p class="status-text">AMERICA</p>
  </div>

  </div>

</section>


<section id="testmony-container">
  <div class="wrapper">
    <h2>Veja o que os Candidatos dizem</h2>
    <p class="p-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Repudiandae quia suscipit excepturi, est tenetur, magnam perspiciatis
      beatae nemo optio delectus iste ipsam impedit minus.
      Reprehenderit, adipisci? Quas voluptatem optio veniam.
    </p>
    <div class="testmony-box">
      <p class="testmony-msg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Asperiores impedit modi corrupti nesciunt necessitatibus nihil!
        Numquam exercitationem, architecto officiis
        deleniti, accusantium est velit iste cumque et quod blanditiis quisquam a!
      </p>
        <img src="/assets/jackpot.png" alt="Juliana">
      <p class="testmony-name">Juliana</p>
    </div>
    <div class="testmony-box">
      <p class="testmony-msg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Asperiores impedit modi corrupti nesciunt necessitatibus nihil! Numquam
          exercitationem, architecto officiis
        deleniti, accusantium est velit iste cumque et quod blanditiis quisquam a!
      </p>
        <img src="/assets/dinheiro.png" alt="António">
      <p class="testmony-name">António</p>
    </div>
    <div class="testmony-box">
      <p class="testmony-msg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Asperiores impedit modi corrupti nesciunt necessitatibus nihil! Numquam exercitationem,
        architecto officiis
        deleniti, accusantium est velit iste cumque et quod blanditiis quisquam a!
      </p>
        <img src="/assets/dinheiro_1.png" alt="Cassul">
      <p class="testmony-name">Cassul</p>
    </div>

    <div class="testmony-box">
      <p class="testmony-msg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
        impedit modi corrupti nesciunt necessitatibus nihil! Numquam exercitationem, architecto officiis
        deleniti, accusantium est velit iste cumque et quod blanditiis quisquam a!
      </p>
        <img src="/assets/bolsa-de-dinheiro.png" alt="Jorge">
      <p class="testmony-name">Guilhermina</p>
    </div>
  </div>

</section>
