#status-container{
  text-align: center;
  padding: 5em 0;
}

.title-center{
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.p-center{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.status-box{
  display: inline-block;
  text-align: center;
  width: 24.5%;
  margin-top: 80px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height:180px;

 }

 .status-box:nth-child(2){
  border: none;
 }
 .status-box:nth-child(3){
  border-right: none;
 }

.status-qtd{
  font-size: 36px;

}
.status-text{
  font-size: 20px;
}


#testmony-container{
  background: url("/assets/depo.jpg") no repeat;
  background-size: cover;
  padding: 10em 0;
}

#testmony-container h2, #testmony-container p{
  color: #fff;
  text-align: center;
}

#testmony-container h2{

font-size: 36px;
margin-bottom: 50px;
}

#testmony-container p{
  margin-bottom: 50px;
}
.testmony-box{
  display: inline-block;
  width: 24.5%;
  text-align: center;

}
#testmony-container .testmony-box .testmony-msg{
  background-color: #fff;
  color: #666;
  border-radius: 10px;
  padding: 20px;
  width: 50px;
  position: relative;
  margin: 35px auto;
  font-style: italic;

}

.testmony-msg:after{
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.testmony-box img{
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 50px;

}

.testmony-name{
  font-weight: bold;
}
